body {
    margin: 2em;
    font-size: 17px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 41px;
    gap: 34px;
}
nav, ul {
    list-style-type: none;
    display: flex; > li {   margin: 5px 36px 0 31px
    }
}
main, #menu,#form, #frameYoutube{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 41px;
    gap: 34px;
}
#articolo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 41px;
    gap: 34px;
}


#tabella{
    border: 1px solid;
    box-shadow: 5px 5px 10px 0px #000000;
}
form {box-shadow: 5px 5px 10px 0px #000000;
    border-bottom: none;
    width: 16em;
    height: 20em;
    border-radius: 16px;
    border: 1px solid;
    display: grid;
    justify-items: center;
    align-content: center;>label {margin: 10px;} }

#articoliCorrelati {
    margin: 50px;
    display: flex;
    height: 29em;
    width: 20em;
    flex-direction: column;
    align-items: center;
}
footer{
    font-size: smaller;
}